h1{
    text-align: center;
    margin: 2vw;
    font-size: 6vw;
}
.board{
    float: center;
    text-align: center;
    margin: 2vw 30vw;
}
.table,th,td{
    background-color: black;
    border:white solid 1vw;
    width: 10vw;
    height: 10vw;
    font-size: 8vw;
    color: white;
    padding: 0%;
}
.place:hover{
    background-color: rgb(58, 53, 53);
    
}
#toss{
    font-size: x-large;
    text-align: center;

}
.tossing{
    text-align: center;
}